<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="menu">
            <h2><span jhiTranslate="cosmosApp.menu.detail.title">Menu</span> {{ menu.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cosmosApp.menu.label">Label</span></dt>
                <dd>
                    <span>{{ menu.label }}</span>
                </dd>
                <dt><span jhiTranslate="cosmosApp.menu.name">Name</span></dt>
                <dd>
                    <span>{{ menu.name }}</span>
                </dd>
                <dt><span jhiTranslate="cosmosApp.menu.position">Position</span></dt>
                <dd>
                    <span>{{ menu.position }}</span>
                </dd>
                <dt><span jhiTranslate="cosmosApp.menu.level">Level</span></dt>
                <dd>
                    <span>{{ menu.level }}</span>
                </dd>
                <dt><span jhiTranslate="cosmosApp.menu.active">Active</span></dt>
                <dd>
                    <span>{{ menu.active }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/menu', menu.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
